html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: lightsteelblue;
}

/*Grid Item*/
.title { grid-area: title; }
.selector { 
  grid-area: selector;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.graphic { grid-area: graphic; }

/* Grid Container*/
.grid-container {
  display: grid;
  height: 95%;
  width: 97.5%;
  padding: 1%;
  grid-gap: 1% 0.5%;
  grid-template-columns: 22% 78%;
  grid-template-rows: 18% 82%;
  grid-template-areas:
		"selector title"
		"selector graphic"
    ;
  background-color: lightsteelblue;
}

/* Grid Item */
.item {
  background-color: rgba(255, 255, 255, 0.8);
}

.item.title{
  text-align: center;
}

.item.title p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*selector menu*/
.menu{
  background-color: white;
  display: block;
  flex-grow : 1;
}

/*checkbox*/
.input_Xn{
  display: flex; 
  flex-direction: row;
}

.input_Xn.first{
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5x;
}

.input_Xn.first p:first-of-type{
  font-weight: bold;
  width: 65px;
}

#input_a{
  margin-bottom: 10px;
}

p{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.checkbox {
  zoom: 1.5;
  margin-top: auto;
  margin-bottom: auto;
}

.input_mounting{
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

#sub-check{
  font-size: 10px;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}

#sub-check>*{
  margin-top: auto;
  margin-bottom: auto;
}
/*end check box*/

/*slider's*/
.input_Xn.second{
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  height: 85%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 98%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: auto;
  margin-bottom: auto;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
}

#input_Xn1::-webkit-slider-thumb{
  background: red;
}

#input_Xn2::-webkit-slider-thumb{
  background: green;
}

#input_Xn3::-webkit-slider-thumb{
  background: blue;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

p.lab{
  text-align: center;
}

.width100{
  display: block;
  width: 90%;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.selector_name{
  font-weight: bold;
}

.line {
  margin:25px 0;
  height:2px;
  background:
    repeating-linear-gradient(to right,black 0,black 5px,transparent 10px,transparent 7px)
    /*5px red then 2px transparent -> repeat this!*/
}

/*end menu*/

.chk {
  font-size: 14px;
}

.chkBold {
  font-weight: bold;
  font-size: 14px;
}

.lab {
  font-size: 16px;
  font-weight: bold;
}